*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background: #fafafa;
  font-family: "Roboto", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .preview {
  margin: 0 1rem;
}

.container .login-form {
  margin: 0 1rem;
}

.container .login-form .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  padding: 1rem;
  margin: 0 auto;
}

.container .login-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.container .login-form .form input {
  min-height: 36px;
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
}

.container .login-form .form button {
  background-color: #385185;
  color: white;
  font-weight: bold;
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  border: none;
}

.container .login-form .form button:disabled {
  opacity: .6;
}

.container .login-form .divider {
  margin: 1rem 0;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
}

.container .login-form .divider::before {
  content: "ou";
  background-color: #fafafa;
  color: #8e8e8e;
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: 36px;
  height: 20px;
  top: -10px;
  left: calc(50% - 18px);
}

.container .login-form .actions {
  text-align: center;
}

.container .login-form .actions .facebook-login {
  color: #385185;
  font-weight: bold;
  padding: 1rem .4rem;
  cursor: pointer;
}

.container .login-form .actions .forgot-password {
  color: #385185;
  font-size: 12px;
  padding: 1rem .4rem;
  cursor: pointer;
}

.container .login-form .actions .download-app img {
  width: 136px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

footer ul.links {
  margin: 1rem 0;
}

footer ul.links li {
  list-style: none;
  padding: .4rem;
  color: #8e8e8e;
}

footer ul.links .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  margin: 1rem 0;
}

footer p a {
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */